* {
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  margin: 0;
  padding: 0;
  border: unset;
  color: white;
}

input {
  display: none;
}

h1,
h2,
h3 {
  font-family: 'Caveat', cursive;
  color: darkslategrey;
}

h1 {
  font-size: 2.5rem;
  line-height: 120%;
  color: rgb(20, 56, 56);
}

h2 {
  font-size: 1.7rem;
  line-height: 120%;
}

h3 {
  font-size: 1.2rem;
  line-height: 120%;
}

input:checked + label > .mem-card__img {
  width: 90%;
  max-height: 100vh;
  margin: 0 auto;
  transition: all 3s;
}

input:checked + label > .mem-card__header > img {
  transform: rotate(-90deg);
  transition: all 1s;
}

input:checked + label > .mem-card__header > h2 {
  color: firebrick;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

.mem-card-container {
  width: 100%;
  margin: 0 auto;
}

header,
label,
.mem-card__header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

label {
  margin: 1.5rem 0;
  padding: 0.7rem;
  border: 2px solid darkslategrey;
  border-radius: 7%;
}

.mem-card__header {
  margin-bottom: 0.3rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.mem-card__header > img {
  height: 1.7rem;
  width: auto;
}

.mem-card__img {
  max-height: 0;
}

@media (min-width: 820px) {
  .wrapper {
    padding: 2rem;
  }

  label {
    padding: 1.4rem;
  }

  h1 {
    font-size: 3.7rem;
  }

  h2 {
    font-size: 2.7rem;
  }

  h3 {
    font-size: 2.2rem;
  }

  .mem-card__header {
    margin-bottom: 1.2rem;
  }

  .mem-card__header > img {
    height: 2.4rem;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    padding: 2.5rem;
  }

  label {
    padding: 2.2rem;
  }

  h1 {
    font-size: 4.5rem;
  }

  h2 {
    font-size: 3.5rem;
  }

  h3 {
    font-size: 2.7rem;
  }

  .mem-card__header {
    margin-bottom: 1.7rem;
  }

  .mem-card__header > img {
    height: 3rem;
  }

  input:checked + label > .mem-card__img {
    width: 70%;
  }
}

@media (min-width: 1920px) {
  .wrapper {
    padding: 8.5rem;
  }

  header {
    padding: 2rem;
  }

  label {
    padding: 2.5rem;
  }

  h1 {
    font-size: 7.5rem;
  }

  h2 {
    font-size: 5rem;
  }

  h3 {
    font-size: 4.2rem;
  }

  .mem-card__header {
    margin-bottom: 2.2rem;
    padding: 0 2rem 0 3rem;
  }

  .mem-card__header > img {
    display: none;
  }

  input:checked + label > .mem-card__img {
    width: 57%;
  }

  input:checked + label > .mem-card__header > img {
    display: block;
    height: 4rem;
  }

  label:hover {
    cursor: pointer;
  }

  .mem-card-container:hover .mem-card__header > h2 {
    color: firebrick;
  }

  .mem-card-container:hover label > .mem-card__header > img {
    display: block;
    height: 4rem;
  }

  label:hover .mem-card__header > img {
    transform: rotate(-90deg);
    transition: all 1s;
  }

  label:hover .mem-card__img {
    display: block;
    margin: 0 auto;
    max-height: 100vh;
    width: 57%;
    transition: all 1.5s;
  }

  .mem-card:active .mem-card__header > h2 {
    color: darkslategrey;
  }

  .mem-card:active .mem-card__img {
    opacity: 30%;
    transition: all 1s;
  }
}
